<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="Suite1" verbose="1">
  <listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg" />
</listeners>
  <test name="APITesting">
    <packages>
      <package name="Testscripts"/>
    </packages>
    <classes>
            <class name="Testscripts.TestAllRequest"/>
        </classes>
    
  </test>

</suite>